{{ define "content" }}
    <section class="section">
        <header class="block">
            <h1 class="title is-2 is-capitalized is-uppercase">{{ .Section }}</h1>
            <p>{{ .CurrentSection.Params.description }}</p>
        </header>
        <article class="block big-article">
                <header class="block">
                    <h2 class="title is-4">{{ .Title }}</h2>
                </header>
            </header>
            {{ partial "article-bannerhp.html" . }}
            <div class="box block has-background-grey-lighter gt-half-centered">
                {{ .Content }}***
            </div>
        </article>
    </section>
{{ end }}