<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title>Web en Sol | Confirmation</title>
    
    
    
    <link rel="stylesheet" href="/css/styles.min.b9b7ce071b489857aa8b6e0f91efa98e07214260d99c02f74e078b3d6db3f343.css" integrity="sha256-ubfOBxtImFeqi24Pke&#43;pjgchQmDZnAL3TgeLPW2z80M="
        crossorigin="anonymous" media="screen" />
    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Walter+Turncoat&display=swap" rel="stylesheet">
    

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
    
    
    
    
        <style>
            
                body,
                #main-header,
                #main-content {
                    background-color: #e5e5e5;
                }
            
            
                .title {
                    color: salmon;
                }
                .main-container-bgc {
                    background-color: salmon;
                }
                .gt-manual-nav > a.is-active {
                    border-bottom-color: salmon;
                }
            
            
                .subtitle {
                    color: dodgerblue;
                }
                .gt-manual-nav > a:hover,
                .gt-manual-nav > a:focus {
                    border-bottom-color: dodgerblue;
                }
            
            
                
                
                    
                    h1, h2, h3, h4, h5, h6 {
                        font-family: 'Walter Turncoat', cursive;
                        font-weight: normal !important;
                    }
                    body, button, input, optgroup, select, textarea {
                        font-family: 'Ubuntu', sans-serif;
                    }
                
            
            
            
        </style>
        
</head><body>

    <div class="container is-fullhd main-container-bgc"><header id="main-header" role="banner">
    <h1 class="title has-text-centered-mobile">Web en Sol</h1>
    <p class="has-text-centered-mobile is-italic">Le web pragmatique pour vous être utile et facile... izy</p><nav role="navigation" aria-label="Menu principal">
        <div class="gt-manual-nav">
            
            
            
            
                    <a class="
" href="/">
                        Home
                    </a>
            
            
                    <a class="
" href="/news/">
                        News
                    </a>
            
        </div>
</nav></header>
 <div id="main-content">
            <main role="main">
                

<article class="block">
    <header><h2 class="title is-4">Confirmation</h2></header>
        <div>
            
<h2>Confirmer votre inscription</h2>

<p>Clickez ce lien pour confirmer votre inscription :</p>
<p><a href="{{ .SiteURL }}/admin/#confirmation_token={{ .Token }}">Confirmez</a></p>
******
        </div>
</article>


            </main>
            <footer role="contentinfo">
     LE FOOTER
</footer>
        </div> 
    </div>

    
    <!-- Main Script -->
    

    
    <script src="/js/app.min.js"></script>

    
    
    </body>
</html>
