.glassy 
    background-color: rgba(255, 255, 255, 0.5)
    backdrop-filter: blur(10px);
    border-top: 2px solid white;
    border-left: 2px solid white;
    @extend .box

.title-bg,
.dark-bg 
    $colorp: lighten($black-mat, 80%)
    background-color: $black-mat
    color: $colorp
    padding: .3rem
    p 
        @extend .is-italic
        color: $colorp
    a 
        color: white 
.menu-link-left-border 
    border-left: .5rem solid transparent
    padding-left: .5rem
    &.is-active 
        color: $active-color 
        border-left-color: $active-color 
    &:hover,
    &:focus 
        color: $hover-color
        border-left-color: $hover-color
.in-trapeze 
    $dim: 1.2rem
    background: none
    border-top: $dim * 2.6666 solid $black-mat 
    border-left: $dim solid transparent
    border-right: $dim solid transparent
    font-size: 1.8rem
    padding: 0
    position: relative 
    transform: translateY(-0.2rem)
    width: $dim * 4 
    height: 0
    > * 
        position: absolute
        top: -$dim * 2.25
        left: $dim * 0.24