html 
    background-attachment: fixed 
    background-color: rgb(49,49,49);
    background-image: linear-gradient(50deg, rgba(49,49,49,1) 9%, rgba(31,139,245,1) 20%, rgba(30,144,255,1) 28%, rgba(250,128,114,1) 44%, rgba(236,129,123,1) 74%, rgba(30,144,255,1) 97%);
    background-position: right top
    background-repeat: no-repeat
    
body 
    min-height: 100vh
#main-header
    @extend .dark-bg
    color: white
    padding-bottom: 1rem


#main-header 
    position: relative
    z-index: 3
    h1,
    p,
    nav 
        z-index: 3
main 
    > * 
        @extend .mb-4
#main-content
    display: flex;
    flex-direction: column
    padding-top: 1rem
    footer
        border-top: 1px solid transparent
        margin-top: auto

.container.main-container-bgc
    > *
        @extend .px-4

footer 
    &:not(.is-in-item)
        @extend .dark-bg

+tablet
    .container.main-container-bgc
        min-height: 100vh
    #main-header
        display: flex
        flex-direction: column
        height: 200vh
        justify-content: flex-end
        left: 5vw
        overflow: hidden
        padding: 1rem 1rem calc(100vh + 5rem) 1rem
        position: fixed
        top: 0
        transform: translate3d(0,0,0)
        width: 20%
    #main-content
        float: right
        min-height: 100vh
        width: calc(80% - 2rem)
