<!DOCTYPE html>
<html class="no-js">
    {{ partial "head" . }}
    <body onload="manageLoader()">
    <div id="loader" class="is-there"><img src="https://res.cloudinary.com/geeteeimages/image/upload/v1563435233/Galites/logo-color-32-200x200.png" alt="logo" height="200" width="200"></div>
    <div class="container main-container-bgc">
        {{ partial "header" . }}
        <div id="main-content">
            <nav class="is-sticky-nav  is-flex is-justify-content-center mt-2" role="navigation" aria-label="Menu commercial">
                {{ partial "nav-commercial" . }}
            </nav>
            <main role="main">
                {{ block "content" . }}{{- end }}
            </main>
            {{ partial "footer" . }}
        </div> 
    </div>
    {{ partial "js-scripts" . }}
    </body>
</html>
