{{ define "content" }}
    {{ if  eq .Params.layout "sitemap"}}
        <article>
            <header class="title-bg block">
                <h1 class="title is-4">{{ .Title }}</h1>
                <h2 class="subtitle is-6">{{ .Params.subtitle }}</h2>
            </header>
            <div class="glassy">
                <ul class="sitemapUl">
                    {{ range .Site.Pages.ByWeight}}
                        {{ if ne .Params.sitemap_ignore true}}
                            <li><a href="{{ .Permalink }}">{{ .Title }} &raquo;</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </article>
        </ul>
    {{ else }}
        <article>
            <header class="title-bg block">
                <h2 class="title is-4">{{ .Title }}</h2>
            </header>
            <div class="glassy">
                {{ .Content }}
            </div>
        </article>
    {{ end }}
{{ end }}