<article class="box block has-background-grey-lighter is-flex is-align-items-center is-italic show-product">
    <header>
        <h4 class="subtitle mb-1">{{ .Title }}</h4>
        <p>{{ .Params.description }} <span>{{ .Params.Price }} €</span><br>
            <a href="{{ .RelPermalink }}" title="consulter la fiche culinaire de : {{ .Title }}">Fiche culinaire &raquo;</a>
        </p>

    </header>
    {{ partial "vignette.html" . }}
</article>

