<footer role="contentinfo" class="columns">
     <div class="column">
          <h4 class="subtitle">Mon travail</h4>
          {{ partial "nav-commercial-footer" . }}
     </div>
     <div class="column">
          <h4 class="subtitle">Échanger</h4>
          {{ partial "nav-manual-footer" . }}
     </div>
     <div class="column">
          <h4 class="subtitle">et +</h4>
          {{ partial "nav-admin" . }}
     </div>
</footer>