<header id="main-header" role="banner">
    <h1 class="title has-text-centered-mobile">{{ .Site.Home.Title }}</h1>
    <p class="has-text-centered-mobile is-italic">{{ .Site.Params.description }}</p>

        {{- partial "nav-manual.html" . -}}
</header>
 <!-- on peut y inclure une image, un logo, div rol="search" -->