
    {{ "<!-- Main Script -->" | safeHTML }}
    {{ if .Site.IsServer }}

        {{ if .IsHome }}
        {{ "<!-- Netlify redirect to admin  -->" | safeHTML }}
        {{ partial "netlify-redirect" }}
        {{ "<!-- Particules js  -->" | safeHTML }}
            {{ $particles := resources.Get "js/particles.js" }}
            <script src="{{ $particles.Permalink }}"></script>
        {{ end }}
        {{ " <!-- Modernizr js  -->" | safeHTML }}
        {{ $modernizr := resources.Get "js/modernizr.js" }}
        <script src="{{ $modernizr.Permalink }}"></script>
        {{ "<!-- Validator min js  -->" | safeHTML }}
        {{ $validator := resources.Get "js/validator.js" }}
        <script src="{{ $validator.Permalink }}"></script>
        {{ $script := resources.Get "js/app.js" }}
        <script src="{{ $script.Permalink }}"></script>

    {{ else }}

        {{ if .IsHome }}
        {{ "<!-- Netlify redirect to admin  -->" | safeHTML }}
        {{ partial "netlify-redirect" }}
        {{ "<!-- Particules js  -->" | safeHTML }}
        {{ $particles := resources.Get "js/particles.js" | minify }}
        <script src="{{ $particles.Permalink }}"></script>
        {{ end }}
        {{ "<!-- Modernizr js  -->" | safeHTML }}
        {{ $modernizr := resources.Get "js/modernizr.js" }}
        <script src="{{ $modernizr.Permalink }}"></script>
        {{ "<!-- Validator min js  -->" | safeHTML }}
        {{ $validator := resources.Get "js/validator.js" }}
        <script src="{{ $validator.Permalink }}"></script>
        {{ $script := resources.Get "js/app.js"| minify}}
        <script src="{{ $script.Permalink }}"></script>

    {{ end }}
