
        <div class="gt-commercial-nav">
            {{ $currentPage := . }}
            {{ $siteName := .Site.Title }}
            {{ range .Site.Menus.commercial }}
            
            {{ $text := print .Name | safeHTML }}
                {{ $sec := replace .URL "/" "" }}
                <a {{ if or (eq $currentPage.RelPermalink .URL) (eq $currentPage.Section $sec) }}class="is-active" {{ end}} href="{{ .URL }}">
                {{ if .Pre }}<i class="fas {{ .Pre }}"></i>{{ else }}{{ $text }}{{ end }}</a>
            {{ end }}
        </div>