{{ if or (.PrevInSection) (.NextInSection) }}
<hr>
    <nav class="is-flex is-flex-wrap-wrap is-justify-content-center is-unselectable" role="navigation" aria-label="pagination articles portfolio">
        {{if .PrevInSection }}
            <span class="pagination-section pagination-yes previous">
                <a href="{{.PrevInSection.Permalink}}">&laquo; {{ .PrevInSection.Title }}</a>
            </span>
            {{ else }}
                <span class="pagination-section pagination-no previous">pr</span>
            {{end}}

        {{if .NextInSection }}
            <span class="pagination-section pagination-yes next">
                <a href="{{.NextInSection.Permalink}}">{{ .NextInSection.Title }} &raquo;</a>
            </span>
        {{ else }}
            <span class="pagination-section pagination-no next">nex</span>
        {{end}}
    </nav>
{{ end }}