{{ define "content" }}
    <section class="gt-homepage-layoutt gt-homepage-layout">
        <header>
                <div id="particles-js"></div>
                    <h2 class="subtitle">
                        {{ .Params.description}}
                    </h2>
        </header>
    </section>
{{ end }}