{{ define "content" }}
    <section>
        <header class="title-bg">
            <h1 class="title is-4 is-uppercase mb-1">{{ .Section }}</h1>
            <p>{{ .CurrentSection.Params.description }}</p>
        </header>
        <article class="block big-article">
                <header class="title-bg">
                    <h2 class="title is-4">{{ .Title }}</h2>
                </header>
            </header>
            {{ partial "article-bannerhp.html" . }}
            <div class="glassy  gt-half-centered">
                {{ .Content }}
            </div>
            <footer class="block gt-half-centered glassy is-in-item">
                {{ partial "written-by" . }}
            
                {{ partial "pagination" . }}
            </footer>
        </article>
    </section>
{{ end }}