{{ define "content" }}
<section>
    <header class="title-bg mb-3">
        <h1 class="title is-4 is-uppercase mb-1">{{ .Section }}</h1>
        <p>{{ .CurrentSection.Params.description }}</p>
    </header>
    <div id="gt-cols">
        {{ range .Paginator.Pages}}
        <article class="item glassy">
            <header class="is-flex is-flex-direction-column">
                <h2 class="subtitle is-text-overflow"><a
                        href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a></h2>
            </header>
            <div class="gt-item-content-in-list">
                {{ partial "post-list-img" . }}
                <div>
                    {{ .Summary }}
                </div>
            </div>
            <p><a href="{{ .Params.externalLink | default .RelPermalink }}">Lire : {{ .Title }}</a></p>
        </article>
        {{ end }}
    </div>
</section>
{{ end }}