{{ define "content" }}
    {{ if eq .Params.layout "contact-form" }}
        {{ partial "contact-form" . }}
    {{ else if eq .Params.layout "thank-you-message"  }}
        <article>
            <header class="title-bg block">
                <h1 class="title is-4 is-uppercase mb-1">{{ .Title }}</h1>
            </header>
            <div class="glassy">
                <div class="gtProfile is-flex is-justify-content-center is-align-items-center">
                    <div class="profile-avatar">
                        {{ partial "avatar" . }}
                    </div>
                    <div class="profile-content ml-2">
                        {{ .Content }}
                    </div>
            </main> </div>
            </div>
        </article>
    {{ else }}
    <section>
        <header class="title-bg">
            <h1 class="title is-4 is-uppercase mb-1">{{ .Section }}</h1>
            <p>{{ .CurrentSection.Params.description }}</p>
        </header>
        <article>
                    <header class="title-bg block">
                        <h2 class="title is-4">{{ .Title }}</h2>
                    </header>
                    <div class="glassy">
                        <div class="gtProfile is-flex is-justify-content-center is-align-items-center">
                            <div class="profile-avatar">
                                {{ partial "avatar" . }}
                            </div>
                            <div class="profile-content ml-2">
                                <p class="is-size-4 mt-0 pt-0">{{ .Params.firstName }} {{ .Params.lastName }}</p>
                                <p class="is-size-6 mt-0 pt-0">{{ .Params.job }}</p>
                                <p class="is-size-6 mt-0 pt-0">{{ .Params.mobile }}</p>
                            </div>
                        </div>
                        <div class="petit-mot">{{ .Content }}</div>
                    </div>
            <footer class="block gt-half-centered glassy is-in-item">
                {{ partial "written-by" . }}
                
                {{ partial "pagination" . }}
            </footer>
        </article>
    </section>
    {{ end }}
{{ end }}