{{ define "content" }}
<section>
    <header class="title-bg mb-3">
        <h1 class="title is-4 is-uppercase mb-1">{{ .Section }}</h1>
        <p>{{ .CurrentSection.Params.description }}</p>
    </header>
        <div id="gt-cols" class="portfolio">
            {{ range .Paginator.Pages}}
                <div class="item gtcard">
                    <div class="face front">
                        <div class="item-header">
                            <h2 class="subtitle is-text-overflow">{{ .Title }}</h2>
                        </div>
                        {{ partial "post-list-img" . }}
                    </div>
                    <div class="face back">
                        <div>{{ .Summary }}</div>
                        <a class="button is-link is-small" href="{{ .Params.externalLink | default .RelPermalink }}">En savoir +</a>
                    </div>
                </div>
            {{ end }}
        </div>
    </article>
</section>
{{ end }}