{{ define "content" }}
    <section>
        <header class="title-bg">
            <h1 class="title is-4 is-uppercase mb-1">{{ .Section }}</h1>
            <p>{{ .CurrentSection.Params.description }}</p>
        </header>
        <article class="block big-article">
                <header class="title-bg">
                    <h2 class="title is-4">{{ .Title }}</h2>
                </header>
            </header>
            {{ partial "article-bannerhp.html" . }}
            <div class="block glassy gt-half-centered">
                <h3 class="subtitle">Description</h3>
                <div class="is-flex is-justify-content-space-between">
                    <div class="tags">
                        {{ range .Params.tags }}
                        {{ $tagSlug := replace . " " "-" }}
                        <a class="tag is-info is-small" href="{{ partial "siteLink" }}/tags/{{ lower $tagSlug }}"><span>{{ . }}</span></a>
                        {{ end }}
                    </div>
                    <span class="tag is-info">{{ .Params.job }}</span>
                </div>
                
                <p><a href="https://{{ .Params.domaineName}}.{{ .Params.extension }}" target="_blank">Accéder au site web &raquo;</a></p>
                <div class="gt-content">
                    {{ .Content }}
                </div>
            </div>
            <div class="glassy gt-half-centered">
                <div class="columns">
                    <div class="column">
                        <h4 class="subtitle">Base</h4>
                        <ul class="block">
                            <li>Cms: {{ .Params.framework }}</li>
                            <li>Html: {{ .Params.html }}</li>
                            <li>Css: {{ .Params.css }}</li>
                            <li>Js: {{ .Params.js }}</li>
                            <li>Adpatable: {{ .Params.responsif }}</li>
                        </ul>
                        <h4 class="subtitle">Composants</h4>
                        <ul>
                            {{ range .Params.composants }}
                                <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                    <div class="column">
                        <h4 class="subtitle">Équipements</h4>
                        <ul>
                            {{ range .Params.equipt }}
                                <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                
            </div>
            <footer class="block gt-half-centered glassy is-in-item">
                {{ partial "written-by" . }}
            
                {{ partial "pagination" . }}
            </footer>
        </article>
    </section>
{{ end }}